body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #5a72d3;
    margin: 0;
    padding: 0;
}

#start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #fff;
    background: #f94d4d;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

#start-btn:hover {
    background: #e1827a;
}

#game-container {
    position: relative;
    height: 500px;
    width: 900px;
    background: url("./assets/background.png");
    background-size: cover;
    background-position: bottom;
    background-position-y: -95px;
    /* border: 3px solid #b6cdf5; */
    border-bottom-width: 0px;
    display: none;
}

.hider {
    height: 50px;
    width: 60px;
    background-color: #6B88FE;
    position: absolute;
    margin-top: 418px;
    margin-left: 54%;
    border-radius: 40%;
}

#score {
    position: fixed;
    top: 10px;
    right: 40px;
    font-size: 40px;
    color: #ffffff;
    border: 2px solid grey;
    background-color: rgb(14, 14, 83);
    border-radius: 10px;
}

#mario {
    position: absolute;
    bottom: 32px;
    left: 50px;
    height: 100px;
    transition: all 0.2s;
}

.obstacle {
    position: absolute;
    bottom: 35px;
    width: 60px;
    transition: all 0.3s;
    display: none;
}

.flipped {
    transform: scaleX(-1);
    transition: all 0s;
}

#mushroom {
    width: 80px;
    bottom: 10px;
}